.semaforo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--color-bg);
  }
  
  .luces {
    display: flex;
    gap: 1rem;
  }
  
  .luz {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    box-shadow: 0 0 10px #000;
    opacity: 0.2;
  }
  
  .rojo1 { animation: encender 0.2s ease-in forwards 0.4s; }
  .rojo2 { animation: encender 0.2s ease-in forwards 0.8s; }
  .rojo3 { animation: encender 0.2s ease-in forwards 1.2s; }
  .rojo4 { animation: encender 0.2s ease-in forwards 1.6s; }
  .rojo5 { animation: encender 0.2s ease-in forwards 2s; }
  
  @keyframes encender {
    to {
      background-color: #d10000;
      opacity: 1;
      box-shadow: 0 0 20px #d10000;
    }
  }
  