/* src/styles/global.css */


/* Tipografía base */
@font-face {
  font-family: 'Formula1';
  src: url('./assets/fonts/Formula1-Bold_web_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --color-bg: #0f0f0f;
  --color-bg-dark: #1a1a1a;
  --color-primary: #d10000;
  --color-primary-light: #ff1f1f;
  --color-text: #ffffff;
  --color-muted: #bbbbbb;
  --border-radius: 8px;
  --font-family: 'Formula1', sans-serif;
}

.light {
  --color-bg: #ffffff;
  --color-bg-dark: #f5f5f5;
  --color-primary: #d10000;
  --color-primary-light: #ff1f1f;
  --color-text: #111111;
  --color-muted: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: var(--color-bg) url('/ruta/a/tu/background.svg') repeat;
  background-size: cover; /* o contain, según lo que quieras */
}


body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

button {
  font-family: var(--font-family);
}

input, select {
  font-family: inherit;
}
