/* src/styles/global.css */


/* Tipografía base */
@font-face {
  font-family: 'Formula1';
  src: url('./assets/fonts/Formula1-Bold_web_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --color-bg: #0f0f0f;
  --color-bg-dark: #1a1a1a;
  --color-primary: #d10000;
  --color-primary-light: #ff1f1f;
  --color-text: #ffffff;
  --color-muted: #bbbbbb;
  --border-radius: 8px;
  --font-family: 'Formula1', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
}



a {
  color: var(--color-primary);
  text-decoration: none;
}

button {
  font-family: var(--font-family);
}

input, select {
  font-family: inherit;
}
