.theme-toggle-btn {
  background: none;
  border: 0px solid var(--color-primary);
  color: var(--color-primary);
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition:
    background 0.2s ease,
    color 0.2s ease;
  font-size: 0.95rem;
}

.theme-toggle-btn:hover {
  color: #fff;
}
